# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
logs/

# Dependencies
lib/
lib64/
parts/
sdist/
build/
develop-eggs/
dist/
eggs/
.eggs/
bin/
include/
libexec/
share/
python?.?/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
dist/

# Other
*.txt
*.md
*.yml
*.yaml
*.ini
*.cfg
*.html
*.js
*.css
*.png
*.jpg
*.jpeg
*.gif
*.svg
