# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
logs/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dependencies
lib/
lib64/
parts/
sdist/
build/
develop-eggs/
dist/
eggs/
.eggs/
bin/
include/
libexec/
share/
python?.?/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
dist/

# Testing
.tox/
.pytest_cache/
pytestdebug.log

# Other
*.ini
*.cfg
*.html
*.js
*.css
*.png
*.jpg
*.jpeg
*.gif
*.svg
